<section id="new-recipe-container">
  <%= image_tag 'rice-pot.jpg', id: 'new-form-image' %>
  <h2 class="subhead">Cook it.</h2>
  <%= render 'form' %>
</section>

<%= link_to 'Delete!', recipe_path(@recipe), method: :delete, class: 'delete' %>
