<section id="featured-photo-container"></section>
<section id="quote-container">
  <h3 id="quote">The only think I like better than
talking about Food is eating.</h3><p id="quote-byline">—John Waters</p>
</section>
