<div class="main-container">
  <section id="new-recipe-container">

    <!-- Left column -->
    <div class="l-col">

      <!-- Form -->
      <h2 class="subhead">Box it.</h2>
      <p id="new-description">Create a Recipe Box to store your favorite recipes by a common theme. Examples: <em>Just Desserts</em>, <em>Comfort Food</em>, <em>Work Week Dinners</em>, or <em>Modern Thanksgiving</em></p>
      <div id="form-container">
        <%= render 'form' %>
      </div>
    </div>

    <!-- Right column -->
    <div class="r-col">
      <%= image_tag 'rice-pot.jpg', id: 'new-form-image' %>
      <p>Remember the food, remember the love.</p>
    </div>
  </section>

</div>
