<div class="main-container">

  <section id="new-recipe-container">
    <%= image_tag 'rice-pot.jpg', id: 'new-form-image' %>
    <h2 class="subhead">Box it.</h2>
    <%= render 'form' %>
  </section>

</div>
