/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*font-family: 'Vollkorn', serif;  400, 700, 400italic, 700italic */
/*font-family: 'Raleway', sans-serif; 200, 300, 400, 700*/

/************************
CORE STYLES
************************/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}



/************************
NAV
************************/

nav {
  margin: 0 auto;
  max-width: 820px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#logo-container {
  display: inline-block;
}

#logo {
  float: left;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -.5px;
}

#nav-options-container {
  display: inline-block;
  float: right;
}

#nav-options {
  margin-top: 2px;
  margin-right: 13px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75px;

}

#profile-nav-photo {
  margin-left: -5px;
  margin-right: 20px;
  border-radius: 360px;
  height: 27px;
  width: 27px;
  vertical-align: middle;
}



/************************
FEATURED PHOTO
************************/

#featured-photo-container {
  margin-top: 20px;
  height: 500px;
  background-size: cover;
  background-image: url("http://i.imgur.com/paZDzuF.jpg");
}



/************************
QUOTE
************************/

#quote-container {
  min-height: 200px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #efeff0;
}

#quote {
  padding-top: 40px;
  text-align: center;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}

#quote-byline {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 400;
}


/************************
NEW RECIPE
************************/

#new-recipe-container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 40px;
  border-top: 1px solid #7d7d7d;
  padding-top: 50px;
  height: 560px;
}

#subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

form {
  float: left;
  width: 310px;
}

.form-label {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.form-text {
  width: 300px;
  height: 35px;
  display: block;
  margin-bottom: 20px;
}

#submit-button {
  background-color: red;
  width: 300px;
  height: 100px;
}

#new-form-image {
  float: right;
  width: 370px;
  border: 10px solid white;
  box-shadow: 0px 4px 6px #ccc;
}



/************************
FOOTER
************************/

footer {
  margin-top: 150px;
  background-color: black;
  /*background-color: #3c3c3c;*/
  height: 350px;
  width: 100%
}

#footer-text-container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 40px;
  padding: 60px 40px 0 40px;
}

.footer-text {
  color: white;
}

#login-container {
  display: block;
}

#login-options {
  margin-top: 40px;
  margin-right: 20px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .75px;
}
