/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*font-family: 'Vollkorn', serif;  400, 700, 400italic, 700italic */
/*font-family: 'Raleway', sans-serif; 200, 300, 400, 700*/



/************************
CORE STYLES
************************/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}


/************************
NAV
************************/

nav {
  margin: 0 auto;
  max-width: 820px;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#logo-container {
  display: inline-block;
}

#logo {
  float: left;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -.5px;
}

#logo:hover {
  color: red;
}

#nav-options-container {
  display: inline-block;
  float: right;
}

.nav-options {
  margin-top: 2px;
  margin-right: 13px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75px;
}

.nav-options:hover {
  color: red;
}

.sub-nav-options {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .75px;
}

.nav-options-bar {
  margin-top: 2px;
  margin-right: 13px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75px;
}

#profile-nav-photo {
  margin-left: -7px;
  margin-right: 20px;
  border-radius: 360px;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

/* Dropdown Menu */
/* Menu Outline */

.menu-wrap {
  display: inline-block;
}

.menu li {
  list-style: none;
}

/* Top Level */

.menu > ul > li {
  position: relative;
}

/* Bottom Level */

.menu li:hover .sub-menu {
  z-index: 1;
  opacity: 1;
}

.sub-menu {
  position: absolute;
  padding-top: 2px;
  left: 0px;
  height: 50px;
  width: 100px;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
}



/************************
MAIN - FEATURED PHOTO
************************/

.main-container {
  margin: 0 auto;
  max-width: 820px;
  min-height: 300px;
  margin-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

#featured-photo-container {
  margin-top: 15px;
  height: 500px;
  background-size: cover;
  background-image: url("http://i.imgur.com/paZDzuF.jpg");
  background-position: center
}

#featured-photo-container:hover {
  opacity: .92;
}


/************************
MAIN - QUOTE
************************/

#quote-container {
  min-height: 180px;
  background-color: #efeff0;
}

#quote-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 570px;
  padding-left: 70px;
  padding-right: 70px;
}

#quote {
  text-align: center;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  letter-spacing: .7px;
}

#quote-byline {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}



/************************
MAIN - THE LATEST
************************/

#the-latest-container {
  margin-top: 80px;
}

#the-latest-recipes-container {
  margin-bottom: 40px;
}

#the-latest-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.the-latest-recipes {
  vertical-align: top;
  display: inline-block;
  width: 230px;
  margin-bottom: 40px;
  margin: 0 17px 40px 0;
}

.small-recipe-thumbnail {
  width: 230px;
  height: 155px;
}

.small-recipe-thumbnail:hover {
  opacity: .6;
}

.small-recipe-title {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .75px;
}

.small-recipe-description {
  max-height: 40px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .75px;
  line-height: 15px;
}

#add-recipe-container {
  margin-top: 40px;
  height: 40px;
  width: 100px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
}

#add-recipe {
  position: relative;
  top: 9px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .5px;
  color: white;
  text-transform: uppercase;
}

#add-recipe-container:hover {
  background-color: red;
  color: black;
}



/************************
RECIPE#SHOW
************************/

#recipe-content-container {
  margin-top: 40px;
}

#recipe-content {
  display: inline-block;
  width: 60%;
}

#recipe-title {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9px;
}

#recipe-description {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #939393;
  padding-top: 24px;
}

.recipe-show-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  margin-bottom: 3px;
}

#recipe-ingredients {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

#recipe-directions {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

.edit {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}



/************************
USER PROFILE
************************/

#featured-user-recipe-container {
  height: 45px;
  background-color: black;
}

#featured-user-recipe-wrapper {
  margin: 0 auto;
  max-width: 820px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
}

#featured-user-recipe {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

#name-of-featured-user-recipe {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .75px;
}

#profile-top-container {
  display: block;
}

#user-profile-container {
  display: inline-block;
  min-width: 200px;
  max-width: 500px;
}

.user-profile-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #aeaeae;
}

#user-profile-name {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9px;
}

#user-bio {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #939393;
  padding-top: 24px;
}

#user-contributions {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 9px;
}

#user-column-container {
  margin-top: 10px;
  margin-bottom: 70px;
}

.profile-column {
  margin-top: 70px;
  vertical-align: top;
  display: inline-block;
  width: 20%;
  border-top: 5px solid black;
  margin-right: 80px;
  padding-top: 10px;
}

.user-profile-column-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

.column-list {
  margin-top: 8px;
  padding-bottom: 40px;
  border-bottom: 1px solid #aeaeae;
}

.column-list p {
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
}

.user-add-container {
  /*margin-top: 40px;*/
  /*height: 40px;*/
  /*width: 100px;*/
  /*border: 1px solid black;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
}

.user-add {
  position: relative;
  top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #7d7d7d;
  text-transform: uppercase;
}

.user-add:hover {
  color: black;
}



/************************
USER SIDEBAR
************************/

.user-sidebar-container {
  float: right;
  width: 200px;
  text-align: center;
}

.user-sidebar-subhead {
  margin-top: 20px;
  font-family: 'Vollkorn', serif;
  color: #aeaeae;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
}

#user-sidebar-photo {
  border-radius: 360px;
  height: 150px;
  width: 150px;
  /*border: 10px solid white;*/
  box-shadow: 0px 3px 10px #a7a7a7;
}

#user-sidebar-photo:hover {
  opacity: .9;
}

#user-sidebar-name {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .75px;
}

#user-sidebar-contributions {
  margin-top: -10px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
}

.sidebar-rule {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 65px;
    border-top: 8px solid black;
}

.user-sidebar-box-list {
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}


/************************
NEW RECIPE
************************/

#new-recipe-container {
  margin: 0 auto;
  max-width: 820px;
  margin-top: 40px;
  border-top: 1px solid #7d7d7d;
  padding-top: 50px;
  height: 560px;
}

.subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

#new-description {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

form {
  margin-top: 25px;
  float: left;
  width: 310px;
}

.form-label {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.form-text {
  width: 300px;
  height: 35px;
  display: block;
  margin-bottom: 20px;
}

#submit-button {
  background-color: red;
  width: 300px;
  height: 100px;
}

#new-form-image {
  float: right;
  margin-left: 50px;
  width: 370px;
  border: 10px solid white;
  box-shadow: 0px 4px 6px #ccc;
}



/************************
BOXES
************************/

#boxes-container {
  border-top: 1px solid black;
  max-width: 300px;
  padding-top: 20px;
}

.boxes {
  margin-bottom: 8px;
  /*margin: 0 17px 40px 0;*/
  /*height: 150px;*/
  /*width: 150px;*/
  /*background-color: lightgray;*/
  /*vertical-align: top;*/
  /*display: inline-block;*/

}

.box-title {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75px;
}


/************************
FOOTER
************************/

footer {
  margin-top: 150px;
  background-color: black;
  /*background-color: #3c3c3c;*/
  height: 230px;
  width: 100%
}

#footer-text-container {
  margin: 0 auto;
  max-width: 820px;
  margin-top: 40px;
  padding: 60px 40px 0 40px;
}

.footer-text {
  color: white;
}

#login-container {
  display: block;
}

#login-options {
  margin-top: 40px;
  margin-right: 20px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .75px;
}

#social-media-wrapper {
  float: right;
}

.social-media-icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 7px;
}

.social-media-icon:hover {
  opacity: .5;
}
