/************************
NEW RECIPE
************************/

#new-recipe-container {
  margin: 0 auto;
  max-width: 820px;
  margin-top: 40px;
  border-top: 1px solid #7d7d7d;
  padding-top: 50px;
  height: 560px;
}

.subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

#new-description {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

form {
  margin-top: 25px;
  float: left;
  width: 310px;
}

.form-label {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.form-text, .form-text-area {
  width: 300px;
  height: 35px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

.form-text-area {
  height: 70px;
}

#submit-button {
  background-color: red;
  width: 300px;
  height: 100px;
}

#new-form-image {
  float: right;
  margin-left: 50px;
  width: 370px;
  border: 10px solid white;
  box-shadow: 0px 4px 6px #ccc;
}
