/************************
DEVISE
************************/

.field {
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
}


/************************
USER PROFILE PAGE
************************/

#featured-user-recipe-container {
  height: 45px;
  background-color: black;
}

#featured-user-recipe-wrapper {
  margin: 0 auto;
  max-width: 820px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
}

#featured-user-recipe {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

#name-of-featured-user-recipe {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .75px;
}

#profile-top-container {
  display: block;
}

#user-profile-container {
  display: inline-block;
  min-width: 200px;
  max-width: 500px;
}

.user-profile-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #aeaeae;
}

#user-profile-name {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9px;
}

#user-bio {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #939393;
  padding-top: 24px;
}

#user-contributions {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 9px;
}

#user-column-container {
  margin-top: 10px;
  margin-bottom: 70px;
}

.profile-column {
  margin-top: 70px;
  vertical-align: top;
  display: inline-block;
  width: 20%;
  border-top: 5px solid black;
  margin-right: 80px;
  padding-top: 10px;
}

.user-profile-column-subhead {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

.column-list {
  margin-top: 8px;
  padding-bottom: 40px;
  border-bottom: 1px solid #aeaeae;
}

.column-list p {
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
}

.user-add-container {
  /*margin-top: 40px;*/
  /*height: 40px;*/
  /*width: 100px;*/
  /*border: 1px solid black;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
}

.user-add {
  position: relative;
  top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #7d7d7d;
  text-transform: uppercase;
}

.user-add:hover {
  color: black;
}



/************************
USER SIDEBAR
************************/

.user-sidebar-container {
  float: right;
  width: 200px;
  text-align: center;
  padding-left: 30px;
  border-left: 1px solid #e1e1e1;
}

.user-sidebar-subhead {
  margin-top: 20px;
  font-family: 'Vollkorn', serif;
  color: #aeaeae;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
}

#user-sidebar-photo {
  border-radius: 360px;
  height: 150px;
  width: 150px;
  /*border: 10px solid white;*/
  box-shadow: 0px 3px 10px #a7a7a7;
}

#user-sidebar-photo:hover {
  opacity: .9;
}

#user-sidebar-name {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .75px;
}

#user-sidebar-contributions {
  margin-top: -5px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
}

.sidebar-rule {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 65px;
  border-top: 8px solid black;
}

.user-sidebar-box-list {
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}

#black {
  color: black;
}
